.team-details-wrapper {
    background: #116584;
    overflow: hidden;
}
.team-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
    /* background: #076ae4; */
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    margin: 20px auto;
    border: 3px solid #ff7500;
}
.team-image img {
    width: 100%;
}
.team-details-text {
    padding-left: 20px;
}
.team-details-text h2 {
    font-size: 35px;
}
.team-details-text p {
    font-size: 20px;
}
.description {
    padding: 10px;
    margin: 20px auto;
}
.description p {
    color: #fff;
}
.icon {
    display: inline-block;
    width: 30px;
}
.logo-container img {
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .team-details {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.social {
    width: 300px;
    margin: 35px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    background: #045877;
    border-radius: 15px;
}
.social a {
    display: inline-block;
    padding: 8px 15px;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    transition: 0.3s all ease;
}
.back-button {
    display: block;
    margin: 20px auto;
}
.youtube {
    color: #c4302b;
}

.twitter {
    color: #1da1f2;
}
.web {
    color: #fff;
}
